# Adjust this file and copy to web.env
LOCAL_USER=prestashop
LOCAL_USER_GROUP=prestashop
APACHE_RUN_USER=prestashop
APACHE_RUN_GROUP=prestashop

# Define uid/gid for the user inside docker.
# Use the same value of your host UNIX user to avoid permission issue
# Use `id` command to know your uid/gid
LOCAL_USER_UID=1000
LOCAL_USER_GID=1000

# Editing this value requires to adapt:
# server_name in nginx/vhost.d
# web/vhosts/prestashop.conf file
VIRTUAL_HOST=prestashop.local.com